# Environment variables
.env

# Custom Files
ECS-Discord-Bot.pyproj
current_role.json
redeemed_orders.json
*.db
*.log
.vs/
**/__pycache__/
env1/
*.pyc
.vscode/
*~
node_modules/
*.sln
env
service-account-key.json
Discord-Bot-WebUI/migrations/
Discord-Bot-WebUI/app/static/img/uploads/
Discord-Bot-WebUI/app/static/dist/*
docker-compose.override.yml

# Celery beat schedule
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir

# Other Celery-related logs or pid files
*.pid
*.log

node_modules/**/*
.expo/*
npm-debug.*
package-lock.json
yarn.lock
*.jks
*.p12
*.key
*.mobileprovision
Discord-Bot-WebUI/app/static/.webassets-cache/
/Discord-Bot-WebUI/CLAUDE.md
/CLAUDE.md
/Discord-Bot-WebUI/MOBILE_API.md
/Discord-Bot-WebUI/app/static/custom_js/README.md

**/.claude/settings.local.json
