# Environment variables
.env

# Custom Files
ECS-Discord-Bot.pyproj
current_role.json
redeemed_orders.json
*.db
*.log
.vs/
**/__pycache__/
env1/
*.pyc
.vscode/
*~
node_modules/
*.sln
env
service-account-key.json
Discord-Bot-WebUI/migrations/
Discord-Bot-WebUI/app/static/img/uploads/
docker-compose.override.yml
