aiocron==1.8
aiohttp==3.9.1
aiosignal==1.3.1
attrs==23.2.0
croniter==2.0.1
discord==2.3.2
discord.py==2.3.2
frozenlist==1.4.1
idna==3.6
multidict==6.0.4
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
six==1.16.0
tzdata==2023.4
tzlocal==5.2
yarl==1.9.4
