aiohttp==3.9.1
aiosignal==1.3.1
attrs==23.2.0
blinker==1.7.0
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
discord==2.3.2
discord.py==2.3.2
Flask==3.0.1
freezegun==1.4.0
frozenlist==1.4.1
idna==3.6
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.4
MarkupSafe==2.1.4
multidict==6.0.4
packaging==23.2
pluggy==1.4.0
pytest==7.4.4
pytest-asyncio==0.23.3
pytest-mock==3.12.0
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
urllib3==2.1.0
Werkzeug==3.0.1
yarl==1.9.4
