aiohttp>=3.10.5
alembic==1.13.2
celery==5.4.0
discord.py==2.4.0
fastapi==0.113.0
itsdangerous==2.2.0
psycopg2-binary==2.9.9
pydantic==2.9.0
pytest==8.4.2
python-dotenv==1.2.2
python-engineio>=4.9.0
python-multipart==0.0.32
python-socketio>=5.11.0
python_dateutil==2.9.0.post0
pytz==2024.1
Requests==2.34.2
SQLAlchemy==2.0.32
uvicorn==0.30.6
