/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #142530;
    color: #C4C7C7;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    padding-bottom: 50px; /* Ensure footer is not at the bottom */
}

a {
    color: #5D9741;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

    a:hover, a:focus {
        color: #FDB913;
    }

h1, h2, h3 {
    color: #FDB913;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
    margin-top: 20px;
}

h2 {
    font-size: 2rem;
    margin-top: 20px;
}

h3 {
    font-size: 1.5rem;
    margin-top: 15px;
}

/* Layout and Spacing */
.container {
    width: 85%;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
}

/* Navigation Styles */
.navbar {
    background-color: #005595;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

    .navbar ul {
        list-style-type: none;
    }

    .navbar li {
        display: inline;
        margin: 0 15px;
    }

    .navbar a {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

/* Header Styles */
header {
    background: #142530;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

    header h1 {
        font-size: 2.5rem;
    }

/* Main Content Styles */
main {
    padding: 20px;
    background: #1E2A38;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

code {
    background: #0D1B26;
    color: #E7E7E7;
    padding: 2px 5px;
    border-radius: 3px;
}

pre {
    background: #0D1B26;
    color: #E7E7E7;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
}

/* Footer Styles */
footer {
    background-color: #005595;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

/* Utility Classes */
.text-center {
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container, .navbar {
        width: 95%;
    }
}

.error {
    color: #FF6347;
}

.command {
    color: #FFD700;
    font-weight: bold;
}

.description {
    font-style: italic;
}

.example {
    color: #ADFF2F;
    font-weight: bold;
}